*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
}
#home{
    padding: 5vw 10vw;
}
#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

#nav #lnav{
    display: flex;
    gap: 2vw;
}
#nav a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    
    
}
#nav #angel {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#hero{
    display: flex;
    justify-content: space-between;
    margin-top: 15vw;
    width: 100%;
    /* background-color: blue; */
}
#hero #leaf{
    width: 33.33%;
    /* background-color: red; */
}
#hero #leaf p{
    opacity: 0.6;
}
#hero #leaf h3{
    font-size: 10px;
}
#hero #leaf h2{
    font-size: 18px;
}
#hero #leaf #leafpic{
    position: relative;
    overflow: hidden;
    width:150px;
    height: 14vw;
    /* background-color: blue; */
}
#hero #leaf #leafpic img{
   
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#emphemeral{
    position: relative;
    width: 35%;
    margin-left: 80px;
    min-height:500px;
}
#emphemeral #headings{
    position:absolute;
    left: -75px;
    top: -100px;
}
#emphemeral h1{
    letter-spacing: -5px;
    line-height: 65px;
    font-size: 5vw;
    font-weight: 100;

}
#emphemeral #imgnheading img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#emphemeral p{
    margin-top: 20px;
    width:40%;
    line-height: 16px;
    /* background-color: blue; */
}

#visit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height:500px;
    padding-left: 250px;
    font-size: 30px;
    
    /* background-color: red; */
    gap: 10px;
}
 #circlen{
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
    border: 2px solid #7d7979;
    border-radius:118px ;
}
#circlen i{
    color: #7d7979;
}
#visit #gallery a{
    text-decoration: none;
    color: #7d7979;
    font-size: 13px;
    
}
#motive{
    display: flex;
margin-top: 80px;
}
#motive h8{
    opacity: .5;
    font-size: 15px;
}
#lamo{
    width: 80%;
    margin-top: 50px;
}
#lamo p{
    letter-spacing: -.10vw;
    text-align: right;
    font-size: 28px;
    font-weight: 500;
    color: black;
}
#lamo span{
    display: inline-block;
    border-radius: 100px;
    background-color: red;
    margin-bottom: -12px;
    margin-top: 10px;

}
#first{
    width: 80px;
    height: 50px;
    background-image: url(Assets/bluegirl.jpg);
    background-size: cover;
    background-position: 0% 60%;

}
#second{
    width: 90px;
    height: 50px;
    background-image: url(Assets/shaljam.jpg);
    background-size: cover;
    background-position: center;

}
#third{
    width: 75px;
    height: 50px;
    background-image: url(Assets/grass.jpg);
    background-size: cover;
    background-position: center;

}
#pictures{
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    width:100%;
    /* background-color: red; */
}
#pictures #lpic{
    width: 250px;
    height: 300px;
    /* background-color: green; */
}
#pictures #lpic img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}
#pictures #lpic h3{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
}
#pictures #lpic p{
    width: 60%;
    font-size: 9.3px;
}
#pictures #rpic{
    width: 300px;
    /* background-color:blue; */
}
#pictures #rpic h3{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    text-align: right;
}
#pictures #rpic p{
    
    font-size: 9.3px;
    text-align: right;
}

#pictures #rpic img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}
#banner{
    margin-top: 20px;
/* background-color: red; */
    display: flex;
}
#banner #bottle{
    
    width:60% ;
    height: 400px;
    /* background-color: red; */
}
#banner #bottle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}
#banner #bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    width: 280px;
    margin-left: 3vw;
}
#banner #bio h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;

}
#banner #bio p{
    margin-top: 20px;
    letter-spacing: -1.1px;

}
#future{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
#future video{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

}
#ftext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ftext button{
    text-transform: capitalize;
    width: 200px;
    padding: 1vw 1.3vw;
    font-size: .7vw;
    letter-spacing: -.05vw;
    font-weight: 700;
    border-radius: 100px;
    border-color: #fff;
    border: 1px solid grey;
    color: #787171;

}
